@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  background-image: url("../../public/IMG_20220703_111424.jpg");
  background-repeat: no-repeat;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
